@font-face {
    font-family:"Movement";
    src: url('./fonts/MovementV.woff2') format('woff2'); /*chrome*/
    src:url('./fonts/MovementV.ttf') format('truetype'); /* Safari, Android, iOS */
    font-weight: 0 1000;
    font-display:swap;
}

body{
    font-family: "Movement", sans-serif;
}

h2{
    font-weight:400 ;
}

p{
    font-weight:100 ;
    line-height: 15px;
    margin: 10px
}

ul{
   font-size:30px
}

.size{
    font-size:30px
}
.weight{
    font-variation-settings: "wght" 800, "SPAC" 100;

}
.space{
    font-variation-settings: "wght" 400, "SPAC" 800;
}



.animated-weight{
animation: weightChange 4s infinite;
}

@keyframes weightChange {
    0%, 100%{
        font-variation-settings: "wght" 800, "SPAC" 120;
    }
    50%{font-variation-settings: "wght" 100, "SPAC" 100;}
    
}

.animated-space{
    animation: spaceChange 9s infinite;
    }
    
    @keyframes spaceChange {
        0%, 100%{
            font-variation-settings: "wght" 100, "SPAC" 100;
        }
        50%{font-variation-settings: "wght" 100, "SPAC" 120;}
        
    }